/* This file is for your main application css. */
$fa-font-path: "../fonts";

@import "font-awesome";
@import "materialize";

body {
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  margin: 20px 20px 20px 20px;
}
