//@import "variables";
//@import "../node_modules/font-awesome/scss/font-awesome";
@import "~materialize-css/sass/materialize";

.container {
  width: 75%;
}

p {
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
}

h2 {
  font-family: 'Catamaran', sans-serif;
}
