/* This file is for your main application css. */
$fa-font-path: "../fonts";

@import "font-awesome";
@import "materialize";

.container {
  width: 75%;
}

p {
  font-family: 'BloggerSans';
  font-size: 20px;
}

h2 {
  font-family: 'BloggerSans';
}
