li {
  margin: 3px;
}

#footer-mobile a {
  color: #DED91C;
  font-family: 'prime';
}

#social-media a {
  color: #ffecb3;
}

#social-media li {
  display: inline;
}

.footer-copyright {
  color: #DED91C
}
footer {
  width: 100%;
  bottom: 0;
}
