.brand-logo>img {
  height: 50px;
  padding-left: 30px;
  vertical-align: middle;
}

#nav-mobile li > a,
nav ul > li > a,
nav a {
  color: #DED91C;
  font-family: 'Catamaran', sans-serif;
}

// .nav-wrap {
//   background-color: #004d40;
// }