.brand-logo>img {
  height: 50px;
  padding-left: 30px;
  vertical-align: middle;
}

#nav-mobile a {
  color: #DED91C;
  font-family: 'Catamaran', sans-serif;
}

.sidenav-trigger > .fa-lg {
  vertical-align: 0%;
}

.sidenav-overlay {
  z-index: 0;
}
